@use "../../styles/variables";

.location {
  border: 4px solid variables.$dark-blue; 
  padding: 40px 20px;
  margin-bottom: 5rem;

  article.location-card {
    display: flex;
    align-items: flex-start;
    gap: 40px;

    .map-container {
      flex: 1;
      overflow: hidden;

      iframe {
        width: 100%;
        height: 50vh;
      }
    }

    .location-text {
      flex: 1;

      h3 {
        color: variables.$blue;
        font-size: 1.6rem;
        font-weight: 300;
        font-size: 1.8rem;
        margin-bottom: 3rem;
        text-align: center;
      }

      .description {
        font-size: 16px;
        color: #6b7280;
        margin-bottom: 1.5rem;
      }

      .address {
        font-family: "Courier New", Courier, monospace;
        font-size: 14px;
        color: #000;
        line-height: 1.5;

        p {
          margin: 0;
        }
      }
    }
  }

  // TABLET
  @media (max-width: 768px) {
    article.location-card {
      flex-direction: column;
      gap: 20px;

      .map-container,
      .location-text {
        width: 100%;
      }

      .map-container iframe {
        height: 250px;
      }
    }
  }

  // MOBILE
  @media (max-width: 480px) {
    padding: 30px 10px;

    article.location-card {
      .map-container iframe {
        height: 200px;
      }
    }
  }
}