@use "../../styles/variables";

.cases {
  max-width: 1200px;
  margin: 6rem auto;
  padding: 0 1rem;
  display: grid;
  gap: 5rem;
}

/* EACH ARTICLE */
.case {
  border: 2px solid variables.$blue;
  padding: 2rem;
}

.case-grid {
  display: grid;
  gap: 2rem;

  @media (min-width: variables.$tablet) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}


.case-grid.reverse {
  @media (min-width: variables.$tablet) {
    img {
      order: 2;
    }

    .case-content {
      order: 1;
    }
  }
}

/* TEKST */
.case-content {
  h3 {
    color: variables.$blue;
    font-size: 1.6rem;
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  .line {
    width: 60px;
    height: 3px;
    background: variables.$blue;
    margin: 0.5rem 0 1rem;
  }

  p {
    line-height: 1.6;
    color: variables.$text;
  }
}