// COLORS
$blue: #002BC2;
$dark-blue: #2C3B6F;
$light-blue: #f4f7fc;
$light: #FAFAFA;
$text: #000000;
$gray: #6b7280;
$border: #e5e7eb;

// LAYOUT
$max-width: 1200px;

// BREAKPOINTS
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;