@use "./variables";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Jura:wght@300..700&family=Sedgwick+Ave&family=Syne:wght@400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Jura, Helvetica, sans-serif;
  color: variables.$text;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


section {
  padding: 4rem 1rem;
}

.container {
  max-width: variables.$max-width;
  margin: 0 auto;
}