@use "../../styles/variables";

.footer {
  background: variables.$dark-blue;
  color: white;
  padding: 3rem 1rem;
}

.footer-grid {
  display: grid;
  gap: 2rem;

  @media (min-width: variables.$tablet) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.line {
  height: 3px;
  width: 40px;
  background: variables.$blue;
  margin: 0.5rem 0;
}