@use "../../styles/variables";

.footer {
  background: variables.$dark-blue;
  color: variables.$light;
  padding: 2rem 1rem;

  .footer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem;

    article {
      flex: 1 1 200px; 
      max-width: 250px;
      text-align: center;
    }

    @media (min-width: variables.$tablet) {
      flex-wrap: nowrap;
    }
  }

  h4 {
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0.3rem 0;
  }
}